.background {
  // overflow: hidden;
  position: relative;
  .heading {
    &-image {
      opacity: 0.2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
    h2 {
      color: white;
      // text-shadow: 1px 1px 1px black;
    }
  }
}
