.box {
  background-color: $White;
  margin: size(24) 0;
  padding: size(12);
  border-radius: size(8);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 8fr;
  // gap: size(10);
  grid-template-areas:
    "upvote pic name time crud"
    "upvote content content content content";
  &-upvotes {
    grid-area: upvote;
    margin: auto 5px;
    margin-right: 10px;
    text-align: center;
    background-color: $VeryLightGray;
    padding: size(12) size(5);
    border-radius: 8px;
    color: $GrayishBlue;
    & .clicked {
      color: $SoftRed;
      font-weight: 700;
    }
    & span {
      font-weight: 500;
      color: $DarkBlue;
    }
  }
  &-avatar {
    margin: auto 0;
    grid-area: pic;
    & > img {
      width: 70%;
    }
  }
  &-name {
    grid-area: name;
    margin: auto 0;
    color: $DarkBlue;
    font-weight: 700;
  }
  &-time {
    grid-area: time;
    margin: auto 0;
    color: $GrayishBlue;
  }
  &-crud {
    color: $ModerateBlue;
    font-weight: 700;
    grid-area: crud;
    text-align: right;
    margin: auto 0;
    & > a {
      margin: 0 size(16);
      &.remove-button {
        color: $SoftRed;
      }
    }
  }
  &-comment {
    grid-area: content;
    & > p {
      margin: 0;
      & > span {
        color: $ModerateBlue;
        font-weight: 500;
      }
    }
  }
}
