html {
  font-size: 100%;
  // it makes the size of element include padding in the final width
  box-sizing: border-box;
}

// This will apply the border-box property to all elements
// and their pseduo elements as * does not select pseudo elements
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-med;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  background-color: $VeryLightGray;
}

// remove inbuilt browser design
h1,
h2,
h3 {
  margin-top: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  width: 60%;
  // padding: size(16);
  margin: size(32) auto;
  border-radius: size(10);
  .box-avatar,
  .box-time,
  .box-crud {
    display: inline-block;
  }
}
