.container {
  & .reply {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    // gap: size(12);
    align-items: top;
    background-color: $White;
    margin-top: -(size(12));
    padding: size(12);
    border-radius: size(8);
    &-avatar img {
      width: 60%;
    }
    & textarea {
      border-radius: size(5);
    }
    &.hidden {
      display: none;
    }
    &.shorter {
      width: 95%;
      margin-left: auto;
      margin-right: 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        height: 125%;
        top: 0;
        left: -(size(20));
        width: 2px;
        background-color: $LightGray;
      }
      &:last-child::before {
        top: -25px;
        height: 125%;
      }
    }
  }
}
