@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms ease-in-out forwards;
          animation: fade-in 500ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  background-color: #f5f6fa;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.button {
  background-color: #5457b6;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  height: 2.25rem;
  margin-left: 1rem;
}

.button:hover {
  background-color: #c3c4ef;
}

.container {
  width: 60%;
  margin: 2rem auto;
  border-radius: 0.625rem;
}

.container .box-avatar,
.container .box-time,
.container .box-crud {
  display: inline-block;
}

.box {
  background-color: white;
  margin: 1.5rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr 3fr 8fr;
      grid-template-columns: 1fr 1fr 3fr 3fr 8fr;
      grid-template-areas: "upvote pic name time crud" "upvote content content content content";
}

.box-upvotes {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: upvote;
  margin: auto 5px;
  margin-right: 10px;
  text-align: center;
  background-color: #f5f6fa;
  padding: 0.75rem 0.3125rem;
  border-radius: 8px;
  color: #67727e;
}

.box-upvotes .clicked {
  color: #ed6468;
  font-weight: 700;
}

.box-upvotes span {
  font-weight: 500;
  color: #324152;
}

.box-avatar {
  margin: auto 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pic;
}

.box-avatar > img {
  width: 70%;
}

.box-name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: name;
  margin: auto 0;
  color: #324152;
  font-weight: 700;
}

.box-time {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: time;
  margin: auto 0;
  color: #67727e;
}

.box-crud {
  color: #5457b6;
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: crud;
  text-align: right;
  margin: auto 0;
}

.box-crud > a {
  margin: 0 1rem;
}

.box-crud > a.remove-button {
  color: #ed6468;
}

.box-comment {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: content;
}

.box-comment > p {
  margin: 0;
}

.box-comment > p > span {
  color: #5457b6;
  font-weight: 500;
}

.box.shorter {
  width: 95%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}

.box.shorter::before {
  content: "";
  position: absolute;
  height: 125%;
  top: 0;
  left: -1.25rem;
  width: 2px;
  background-color: #eaecf1;
}

.box.shorter:nth-last-child(2)::before {
  height: 100%;
}

.container .reply {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  background-color: white;
  margin-top: -0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.container .reply-avatar img {
  width: 60%;
}

.container .reply textarea {
  border-radius: 0.3125rem;
}

.container .reply.hidden {
  display: none;
}

.container .reply.shorter {
  width: 95%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}

.container .reply.shorter::before {
  content: "";
  position: absolute;
  height: 125%;
  top: 0;
  left: -1.25rem;
  width: 2px;
  background-color: #eaecf1;
}

.container .reply.shorter:last-child::before {
  top: -25px;
  height: 125%;
}

@media (max-width: 54.6875rem) {
  .container {
    width: 82%;
  }
}

@media (max-width: 40rem) {
  .container {
    width: 85%;
  }
  .box {
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas: "pic name time" "content content content" "upvote crud crud";
  }
  .box-crud > a {
    margin: 0 0.3125rem;
  }
}
/*# sourceMappingURL=style.css.map */