/* --------------------------------------- */
/* --------------Resuable----------------- */
/* --------------------------------------- */
* {
    margin: 0;
    padding: 0;
    /* it tells the browser to acount the border and padding in the values you
    specify for an element's width and height. */
    box-sizing: border-box;
}

section{
    padding: 80px 0;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /* This will ensure perfect font rendering */
    text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* ----------------Header----------------- */
/* --------------------------------------- */

header{
    /* since text does not look good on an image, it is a good idea to darken the
    image a litte bit so that text comes out properly. to do this we can use another
    image with the background image. one way to do this is to use linear gradient and 
    use same image twice in the function. */
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/hero.jpg);
    /* set the image area to 100% of the viewport  */
    height: 100vh;
    /* change the image size to properly fit the area */
    background-size: cover;
    /* setting the initial position of the image so that image is*/
    /* always centered whenever viewport size is changed */
    background-position: center;
}

.hero-text-box{
    position: absolute;
    /* following 2 lines will move the head of the block in the middle of 
    header tag */
    top: 50%;
    left: 50%;
    /* to position the block center to the container */
    transform: translate(-50%, -50%);
}

/* --------------------------------------- */
/* ---------------Heading----------------- */
/* --------------------------------------- */

h1,
h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    /* size will be 200% of the html font size */
    font-size: 240%;
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

/* creating a line after h2 tag */
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    /* line will be visible only after adding content */
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* --------------------------------------- */
/* ---------------Buttons----------------- */
/* --------------------------------------- */

.btn:link,
.btn:visited{
    /* this generates a block element which operates a single inlilne box */
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    /* remove a tag format of text */
    text-decoration: none;
    border-radius: 200px;
    /* delaying the hover effect using only css */
    transition: background-color 0.2, border 0.2, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}

/* --------------------------------------- */
/* ---------Navigation Bar---------------- */
/* --------------------------------------- */

.row{
    /* it will keep the navigation centered on larger screen */
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border-bottom 0.2s;
    padding: 8px 0;
    /* this is added so that border added while hover does not create issues */
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}