.box-container {
	border: 1px solid black;
	margin: 16px auto;
	padding: 18px;
	max-width: 80%;
}

.box-container .box {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 20px 80px;
}
