.form {
	border: 1px solid black;
	max-width: 80%;
	margin: 16px auto;
	padding: 18px;
}

.form .input {
	display: block;
	padding: 16px;
	max-width: 500px;
	margin-bottom: 18px;
	border-radius: 10px;
}
