.embed-container {
  position: relative;
  /* overflow: hidden; */
  /* Given the 16:9 aspect ratio, padding-bottom will be 56.25% of width i.e. 9/16 */
  /* For 4:3 aspect ratio, padding-bottom will be 75% */
  padding-bottom: 56.25%;
  max-width: 100%;
  margin-bottom: 15px;
}

/* object, embed selector is used because, while some browsers rely on object
(e.g., Safari), others need embed (e.g., Firefox) */
.embed-container object,
.embed-container embed,
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
