// Colors
//to be later added
// $PrimaryColor: 
// $PrimaryGradiantOne: 
// $PrimaryGradiantTwo:
// $VeryLightGray:
// $FooterBackground: 
$LightGray: #F4F4F4;
$White: #FFF;

// Font-size
$font-sm: size(14);
$font-med: size(16);
$font-lg: size(20);
$font-xlg: size(52);
